<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${title}"></title>
  </head>
  <body>
    <div th:replace="~{fragments/main-menu}"></div>

    <ul>
      <li th:each="product: ${productList}">
        <span th:text="${product.getName()}"></span>
        <a th:href="'/productDetail?productId='+${product.getId()}"
          >[show more]</a
        >
        <a th:href="'removeProduct?productId='+${product.getId()}">[remove]</a>
      </li>
    </ul>
    <div th:replace="~{product/save-product}"></div>
  </body>
</html>
