<div th:if="${error}" class="alert alert-danger" role="alert">
  <span th:text="${error}"></span>
</div>
<div>
  <ul>
    <li th:each="error : ${errors}" th:text="${error}" class="text-danger"></li>
  </ul>
</div>
<form
  method="post"
  class="p-3 m-0 border-0 bd-example m-0 border-0"
  th:action="${action}"
>
  <div class="input-group row g-3">
    <div class="col-sm">
      <input
        class="form-control"
        name="name"
        placeholder="product name "
        th:value="${product !=null ? product.getName(): ''}"
      />
    </div>
    <div class="col-sm">
      <input
        class="form-control"
        name="desc"
        placeholder="product description "
        th:value="${product!=null? product.getDesc(): ''}"
      />
    </div>
    <div class="col-sm">
      <input
        class="form-control"
        name="imgUri"
        placeholder="product image "
        th:value="${product!=null? product.getImgUri(): ''}"
      />
    </div>
    <div class="col-sm">
      <input
        class="form-control"
        name="price"
        placeholder="product price "
        th:value="${product!=null? product.getPrice(): ''}"
      />
    </div>
    <div class="col-sm">
      <select name="category" class="form-select">
        <option
          th:each="category: ${categories}"
          th:selected="${product !=null && product.getCategory() !=null && category.getId()==product.getCategory().getId()}"
          th:text="${category.getName()}"
          th:value="${category.getId()}"
        ></option>
      </select>
    </div>
    <div class="col-sm">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
