<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org/thymeleaf-extras-spring-security6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-4">
        <div class="card mt-5">
          <div class="card-body">
            <h2> Change role for users: 
              <span th:text="${user.firstName}+ ' '+ ${user.lastName}"></span>
            </h2>
            <p class="card-text" th:text="${user.role}"></p>
  
            <form th:action="@{'/user/role/'+ ${user.id}}" method="post">
              <label for="role" class="form-label">Select New role for user:
                <select id="role" name="newRole">
                  <option th:each="role : ${roles}" th:value="${role.toString()}" th:text="${role.toString()}"></option>
                </select>
              </label>

              <button type="submit" class="btn btn-primary"> Change role</button>
              <a class="btn btn-primary" href="/users">Return to List of users</a>

            </form>
          </div>
  
        </div>
        
      </div>

    </div>


  </div>
    
</body>
</html>